<form action="/samples" method="post" >
    Sample name: <br />
    <input type="text" name="sample[name]"><br />
    Description: <br />
    <input type="text" name="sample[description]"><br />
    <button>Submit</button>
</form>